# Environments
/.venv/
# -----------------------------------------------------------------------------
# IDE files
/.idea/
# -----------------------------------------------------------------------------
# Byte-compiled
__pycache__/
# -----------------------------------------------------------------------------
# Directory for temporary storage of files
/tmp/
# -----------------------------------------------------------------------------
# Configuration variables
/.env
